    <% include _head.ejs %>
    <div class="columns">
      <div class="column is-3" style="">
        <div class="icon is-large" style="float: right;color:red;font-size: 2rem;">
          <i class="fas fa-user" ></i>
        </div>
      </div>
      <div class="column is-6"  >
          <form  method="post" id="form" action="/api/create">
            <div class="field">
              <div class="label">
                <label class="label">标题</label>
              </div>
              <div class="control">
                <input type="text" name="title" class="input">
              </div>
            </div>
            <div class="field">
              <label class="label">内容</label>
              <textarea name="content" rows="15" class="textarea"></textarea>
            </div>
            <input type="submit" class="ui button" value="发布">
          </form>
      </div>
    </div>
    <% include _foot.ejs %>
