<!DOCTYPE html>
<html>
   <head><title>A test</title></head>
   <body>
<% 
	var a = require('./a.js')
	var c = a.b()
	console.log(require.paths)
%>
<%= require.paths[0]  %><p>
       <% if (1==1) { %>
          Working
       <%}%>
   </body>
</html>​