    <% include _head.ejs %>
    <div class="columns">
      <div class="column is-3" style="">
        <div class="icon is-large" style="float: right;color:red;font-size: 2rem;">
          <i class="fas fa-user" ></i>
        </div>
      </div>
      <div class="column is-6"  >
         <div class="box">
              <h3><a href="/post.html">1</a></h3>
              <pre><p>1</p></pre>
              <div>
                <span >2018-06-11 14:50</span>
                <span class="tag right is-info">
                <span>浏览(1)</span>
                <span>留言(1)</span>
                <div class="dropdown" >
                    <div class="dropdown-trigger">
                      <span class="icon is-large">
                          <i class="fas fa-caret-down"></i>
                      </span>
                    </div>
                    <div class="dropdown-menu" >
                      <div class="dropdown-content">
                        <div class="dropdown-item">编辑</div>
                        <div class="dropdown-item">删除</div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
         <div class="box">
              <h3><a href="/post.html">1</a></h3>
              <pre><p>1</p></pre>
              <div>
                <span >2018-06-11 14:50</span>
                <span class="tag right is-info">
                <span>浏览(1)</span>
                <span>留言(1)</span>
                <div class="dropdown" >
                    <div class="dropdown-trigger">
                      <span class="icon is-large">
                          <i class="fas fa-caret-down"></i>
                      </span>
                    </div>
                    <div class="dropdown-menu" >
                      <div class="dropdown-content">
                        <div class="dropdown-item">编辑</div>
                        <div class="dropdown-item">删除</div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
  </div>
 <% include _foot.ejs %>