
<style>
  ul.menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2ecc71;
  }
  
  ul.menu li {
    float: left;
    background-color: #9b59b6;
  }
  
  ul.menu li a {
    display: block;
    color: white;
    background-color: #1abc9c;
    border-width: 2px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  ul.menu li a:hover {
    background-color: #3498db;
  }
  object{
    display: inline-block;
    background-color: #2ecc71;
  }
  </style>
  <object data='../img/avatar-default.svg' type='image/svg+xml' width="50" height="50"></object>
  <ul class="menu">
  <li>APP
  <%if (isLogin){%>
  <li><a href="/user/logout">logout</a>
  <li><a href="/user/profile">View Profile</a>
  <%}else{%>
  <li><a href="/user/login">login</a>
  <%}%>
  <li><a href="/cart">Cart</a>
  <li><a href="/book/list">Books</a>
    <li><a href="/borrow">borrowed</a>
  <li><a href="/user/registration">Registration</a>
  <li>Welcome ,<%=username%>
  <li><a href="/sys/populate">Populate Data</a>
  <li><a href="/sys/initbookswithsvg">init books with svg numbers</a>
  </ul>
  <style>
	/*pagination*/
  .pagination ul{
  	list-style:none;
  }
  .pagination ul li{
    display:inline-block;
  }
  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  ul.menu li {
    float: left;
  }

  ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
</style>
