<h1>Welcome ,<%=username%></h1>

	<object data='img/avatar-default.svg' type='image/svg+xml' width="50" height="50"></object>
<h2>app</h2>
<ul>
<%if (isLogin){%>
<li><a href="/user/logout">logout</a>
<li><a href="/user/profile">View Profile</a>
<%}else{%>
<li><a href="/user/login">login</a>
<%}%>
<li><a href="/book/list">Books</a>
<li><a href="/user/registration">Registration</a>
</ul>
<h2>sys</h2>
<ul>
<li><a href="/sys/populate">Populate Data</a>
<li><a href="/sys/initbookswithsvg">init books with svg numbers</a>
</ul>