<%- include ../header.html%>
<h1>Books</h1>
<form method="GET">
  <input type='text' name='search' placeholder="search here" />
</form>
<%books.forEach(function(item){%>
  <figure>
  <img src="/book/cover/<%=item._id%>"/></li>
  <figcaption><%=item.title%><br>
  <%if (item.borrowed){%>
    <a href='/return/<%=item._id%>'>return</a></a>
  <%}else{%>
    <a href='/borrow/<%=item._id%>'>borrow
  <%}%>
  </figcaption>
  </figure>
<%})%>
<%- include ../pagination.html%>
<style>
figure {
    display: inline-block;
    /*border: 1px dotted gray;*/
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

</style>
