<!DOCTYPE html>
<form method="post">
  <input type="text" value="something here" name="dkd">
  <input type="submit"/>
</form>

<!--fuck!if you have not field name ,then request body is empty,so content-length is 0-->