<style>
  .pagination ul{
  	list-style:none;
  }
  .pagination ul li{
    display:inline-block;
  }
  ul.menu{
  	list-style:none;
  }
  ul.menu li{
  	display:inline-block;
  }
  thead{
    background-color:#16a085;
    color:white;
  }
</style>
<h1><a href="/">ROME Rebuilt</a></h1>
<ul class="menu">
	<li><a href="/book">book </a>|
	<li>|<a href="/user">user</a>
  <li>|<a href="/logout">logout</a>
  <li>|<a href="/user/populatenums">populatenums</a>
</ul>
<ul>
