<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">    
    </style>
</head>
<body>
    <form action="/login" method="POST">
        UserName: <input type="text" name="username"/>  <br>
        Password: <input type="password" name="pwd"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
