<form method="post" action="/user/edit/<%=user._id%>" >
  <span>name</span><input type="text" value="<%=user._id%>" name="id"/>
  <span>name</span><input type="text" value="<%=user.name%>" required name="name"/>
  <span>age</span><input type="text" value="<%=user.age%>" name="age"/>
  <input type="submit" value="Submit">
</form>