<%- include header.ejs%>
<form method="post" action="/user/?_method=PUT" >
  <input type="text"  required name="name" placeholder="name" />
  <input type="password" value="" required name="pwd" placeholder="password" />
  <input type="text"  name="age" placeholder="age" />
  <input type="submit" value="Save">
</form>
<%- include('footer.ejs')%>